@charset "utf-8";
/* LTU Moodle CSS Overide Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
a {
color:#E2231B;
}

.gtopics-0 .sectionname {
background-color:#fff;
	background-image:url(https://braddltu.github.io/LTU-dev/images/SVG/home-icon.svg);
	background-size:40px;
	background-position: left center;
	color:#E2231B;
}

.list-group-item.active {
background-color:#E2231B;	
	border-color:#E2231B;
}

[data-key*="badgesview"], [data-key*="competencies"], [data-key*="participants"] {
display:none;
}

/*.editing [data-key*="participants"] {
	display:block;
}*/

#nav-drawer [href*="&section=0"] {
	display:none;
}


.course-content .single-section .navigationtitle {
display:none;
}

h1, h2, h4 {
font-family: 'Roboto Slab',Georgia;
}

#page-course-view-grid #region-main {
width: calc(100%);	
}

#page-course-view-grid #blocks-column {
	display:none;
}
/* ****************Page header tweaks start *************************** */
#page-header {
background-image: url(https://braddltu.github.io/LTU-dev/images/header-bg.gif);
padding:0;
}

#page-header .card {
background:none;	
}
#page-header .card-body {
	padding:0.8rem;
}

#page-header #page-navbar a {
	color:#fff;
}
.page-header-headings h1, #page-header #page-navbar  {
color: #fff;
 padding: 0px 1rem;
}

#page-header .action-menu a.dropdown-toggle {
	color:#fff;
}

/* ****************Page header tweaks end *************************** */
