@charset "utf-8";
/* LTU Moodle CSS Overide Document */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
a {
color:#00262E;
}
.page-header-headings h1 {
color:#242424;
font-size:1.3rem;	
}

h1, h2 {
font-family: 'Roboto Slab',Georgia;
}

