@charset "utf-8";
/* LTU Moodle CSS Overide Document */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.atto-styles-caption-text {
	font-size:0.8rem;
}

/***** Links ****/
.content a {
color:#E2231B ;

}


p a:hover, p a:focus {
	color:#E2231B;
}

.content .action-menu a {
color:#242424;	

}
/*
#page .breadcrumb-item a {
color:#242424;	
}

#page .section-navigation a {
text-decoration:none;	
}
*/



/**********  headings ****************/
h1, h2, h3 {
/*font-family: 'Roboto Slab',Georgia;*/
}
.page-header-headings h1 {
color:#242424;
font-size:1.5rem;	
}
h2 {
	font-size:1.4rem;
	font-weight:bold;
	color:#E2231B;
}

h3 {
	font-size:1.3rem;
	font-weight:500;
}
h4 {
	font-size:1.2rem;
color:#242424;
}


.gtopics-0 .sectionname {
	background:none;
	color:#E2231B;
	padding-left:0px;
}

#page-header .card-body {
padding: 0.25rem 1.25rem;	
}

#page-header .card {
	border:none;
}

@media (max-width: 767.98px)
	.breadcrumb:not(:empty) {
	border:none;	
}

.no-overflow {
    overflow: hidden;
}


/*****  navigation *****/

.list-group-item.active {
    background-color: #E2231B ;
    border-color: #E2231B;	
}

.course-content .single-section .navigationtitle {
display:none;
}

/******* Grid Icon ******/

#gridiconcontainer ul.gridicons {
	justify-content:center !important;
}


#gridiconcontainer ul.gridicons li .image_holder {
width:99%;
	text-align:left;
-webkit-box-shadow: 0 0 5px rgba(0,0,0,.0); 
box-shadow: 0 0 5px rgba(0,0,0,.0); 
    border:1px solid #dddddd;
    border-radius: 4px;
}
#gridiconcontainer ul.gridicons li .image_holder:after {
content: "";
  display: block;
  padding-bottom: 100%;	
}

#gridiconcontainer ul.gridicons li .image_holder img {
  position: absolute;
  /*width: 100%;
  height: 100%;*/	
}

#gridiconcontainer ul.gridicons li {
max-width:210px;

}

 
#gridiconcontainer ul.gridicons li.currentselected {
background-color: #ffffff !important;	
}

#gridiconcontainer ul.gridicons li div.icon_content {
background-color: #f3f3f3;
color:#242424;	
}
#gridiconcontainer ul.gridicons li div.icon_content:after {
color:#242424;	
}

/************ Accordion ********/
.accordion .btn:focus, .accordion .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 .2rem #ededed;
     box-shadow: 0 0 0 .2rem #ededed; 
}

.accordion-header {
width:100%; 
padding-left:1.25em;	
}
.accordion-toggle-icon {
position: absolute;
    left: 16px;
    font-size: 0.8rem;
}

[aria-expanded|="true"] .fa-chevron-right:before {
    content: "\f078";
}

/********* Right Drawer Toggle  *******/
#right-block-open {
	position:fixed;
	top:270px;
	right:0px;
	background:#ccc;
	z-index:9999;
	border-radius:30px 0px 0px 30px;
	padding:1rem;
}



