@charset "utf-8";
/* LTU Moodle CSS Overide Document */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
a {
color:#E2231B;
}

.gtopics-0 .sectionname {
background-color:#fff;
	background:none;
	color:#E2231B;
	font-size:0.8rem;
	font-weight:normal;
	padding:0px;
}

.gtopics-0 .sectionname::before {
font: normal normal normal 14px/1 FontAwesome;
content:"";
padding-right:1rem;
}

.list-group-item.active {
background-color:#E2231B;	
	border-color:#E2231B;
}

[data-key*="badgesview"], [data-key*="competencies"], [data-key*="participants"] {
display:none;
}

/*.editing [data-key*="participants"] {
	display:block;
}*/

#nav-drawer [href*="&section=0"] {
	display:none;
}


.course-content .single-section .navigationtitle {
display:none;
}

h1, h2, h4 {
font-family: 'Roboto Slab',Georgia;
}

#page-course-view-grid #region-main {
width: calc(100%);	
}

#page-course-view-grid #blocks-column {
	display:none;
}


[data-key*="coursehome"] .fa-graduation-cap::before {
content:"";	
}

[data-key*="grades"] .fa-table::before {
content:"";
}
[data-key*="grades"] .fa-table::before {
content:"";
}

#nav-drawer [href$="&section=1"] .fa-folder-o::before {
content:"";
}

#nav-drawer [href$="&section=2"] .fa-folder-o::before {
content:"";
}

#nav-drawer [href$="&section=4"] .fa-folder-o::before {
content:"";
}


/* ****************Page header tweaks start *************************** */
#page-header {
background-image: url(https://braddltu.github.io/LTU-dev/images/header-bg.gif);
padding:0;
background-color:#E2231B;
}

#page-header .card {
background:none;	
}
#page-header .card-body {
	padding:0.8rem;
}

#page-header #page-navbar a {
	color:#fff;
}
.page-header-headings h1, #page-header #page-navbar  {
color: #fff;
 padding: 0px 1rem;
}
.breadcrumb-item+.breadcrumb-item::before {
color:#fff;
}
#page-header .action-menu a.dropdown-toggle {
	color:#fff;
}

/* ****************Page header tweaks end *************************** */

#gridiconcontainer {
	margin-top:2rem;
	text-align:left;
}

#gridiconcontainer::before {
	content:'Learning Materials';
	font-size:1.5rem;
	font-family: 'Roboto Slab',Georgia;
	border-bottom: 1px solid #ccc;
}
#gridiconcontainer ul.gridicons li div.icon_content {
	background-color:#fff;
	color:#E2231B;
	text-align:center;
}

#gridiconcontainer ul.gridicons li div.icon_content::after {
color:#E2231B;	
	position:relative;
	right:0px;
	padding-left:8px;
}

#gridiconcontainer ul.gridicons li .image_holder {
	border:none;
	box-show:none;
	-webkit-box-shadow:none;
}
